#storeTour {
    padding: 0;
    .banner{
        max-width: 1920;
        max-height: 1080px;
        
        img{
        width: 100%;
        height: 30em;
        object-fit: cover;
        }
    }

    .container{
        h1{
            margin: 2em 0;
        }
        .containerTour{

            .card{
                .img{
                    max-height: 15em;

                        .photoCarrousel img{
                        height: 15em;
                        width: 100%;
                    }
                }
            }
            
            
        }
    }
    .cardContainerTour{
        .containerTour{
            .container{
                background-color: #F6F6F6;
                max-height: 20em;
                .card-title{
                    color: #00AA96;
                }
                .containerImg{
                    max-height: 15em;
                    img{
                        height: 14em;
                        width: 100%;
                        object-fit: cover;
                        padding: 1em;
                    }
                }
                .state{
                    a{
                        width: 7em;
                        background-color: #FEA71C;
                        font-size: 1.2em;
                        color: #000;
                    }
                }
            }
            .verMas{
                text-decoration: none;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }
}

@media only screen and (max-width: 740px) {    
    #storeTour{
        .banner{
            img{
                height: 15em;
            }
        }
        .container{
            h1{
                font-size: 1.5em;
                margin: 1em 0;
            }
            .cardContainerTour{
                .containerCard{
                    height: 50em;
                }
            }
        }
        .cardContainerTour{
            .containerTour{
                .container{
                    .card-title{
                    }
                    .containerImg{
                        img{
                            padding: 0;
                        }
                    }
                    .texto{
                        margin-top: 3em
                    }
                }
            }
        }
    }
}