.imgCard {
    border-radius: 15px;

    .mi-card {
        border-radius: 15px;

        .text-imgCard {
            font-size: 1.4em;
            z-index: 1;
        }

    }

    .hover-img:hover {
        filter: blur(2px);
    }

}