.menu{
    .img-log{
        width: 150px;
    }

    .select-main{
        background-color: #EFEFEF;
        border-radius: 5px;
        border: 2px solid #00AA96;
        outline: none;
    }

    .link-main{
        text-decoration: none;
    }
}